<table border="1">
  <tr>
    <td width="100">id</td>
    <td width="100">num</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
  </tr>
{%- assign MAX = 10000                    -%}

{%- assign id = 1                         -%}
{%- assign sqrt = 2                       -%}

{%- for num in (3 .. MAX)                 -%}
{%-   assign bad = false                  -%}

{%-   for j in (sqrt .. num)              -%}
{%-     assign pow = j | times: j         -%}
{%-     if pow > num                      -%}
{%-       assign sqrt = j                 -%}
{%-       break                           -%}
{%-     endif                             -%}
{%-   endfor                              -%}

{%-   for j in (2 .. sqrt)                -%}
{%-     assign mod = num | modulo: j      -%}
{%-     if mod == 0                       -%}
{%-       assign bad = true               -%}
{%-       break                           -%}
{%-     endif                             -%}
{%-   endfor                              -%}

{%-   if bad                              -%}
{%-     continue                          -%}
{%-   endif                               -%}

{%-   assign id = id | plus: 1            -%}
  <tr>
    <td>{{- id -}}</td>
    <td>{{- num -}}</td>
  </tr>
{%- endfor                                -%}

</table>
